<mat-card>
    <mat-card-header>
        <mat-card-title>Talaba </mat-card-title>
        <mat-card-subtitle>Talaba bilan ishlash bo'limi</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-accordion color="light" displayMode="default" [multi]="true" [hideToggle]="false">
            <mat-expansion-panel [hideToggle]="false" [(expanded)]="formOchiq" >
                <mat-expansion-panel-header>Yangi talaba qo'shish
                    <mat-icon class="mat-18">add</mat-icon>
                </mat-expansion-panel-header>
                <form [formGroup]="talabaForm" (ngSubmit)="saqlash()">
                    <mat-form-field *ngIf='tahrirRejim' appearance="outline">
                        <mat-label>ID</mat-label>
                        <input formControlName="id" readonly matInput placeholder="ID" autocomplete="off">
                        <mat-hint>ID</mat-hint>
                    </mat-form-field>
  
                    <mat-form-field appearance="outline">
                        <mat-label>Ism</mat-label>
                        <mat-hint>Ism kiriting</mat-hint>
                        <input formControlName="ism" matInput placeholder="Ism..." autocomplete="off">
                    </mat-form-field>


                    <mat-form-field appearance="outline">
                        <mat-label>Familya</mat-label>
                        <mat-hint>Familya kiriting</mat-hint>
                        <input formControlName="familya" matInput placeholder="Familya..." autocomplete="off">
                    </mat-form-field>


                    <mat-form-field appearance="outline">
                        <mat-label>Sharif</mat-label>
                        <mat-hint>Sharif kiriting</mat-hint>
                        <input formControlName="sharif" matInput placeholder="Sharif..." autocomplete="off">
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Yosh</mat-label>
                        <mat-hint>Yosh kiriting</mat-hint>
                        <input formControlName="yosh" matInput placeholder="Yosh..." autocomplete="off">
                    </mat-form-field>

                


                    <mat-form-field appearance="outline">
                        <mat-label>Hudud</mat-label>
                        <mat-hint>Hudud kiriting</mat-hint>
                        <input formControlName="hudud" matInput placeholder="Hudud..." autocomplete="off">
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Baholar</mat-label>
                        <mat-hint>Baho kiriting</mat-hint>
                        <input formControlName="ball" matInput placeholder="Baho..." autocomplete="off">
                    </mat-form-field>

               

                    <mat-form-field appearance="outline">
                        <mat-label>Guruh</mat-label>
                        <mat-select name="guruh" id="guruh" formControlName="guruh" placeholder="">
                          <mat-option *ngFor="let k of guruhlar" [value]="k.id">{{k.nom}}</mat-option>
                        </mat-select>
                        <mat-hint>Guruhni tanlang</mat-hint>
                      </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Loyiha</mat-label>
                        <mat-select name="loyiha" id="loyiha" formControlName="loyiha" placeholder="">
                          <mat-option *ngFor="let l of loyihalar" [value]="l.id">{{l.nom}}</mat-option>
                        </mat-select>
                        <mat-hint>Loyiha tanlang</mat-hint>
                      </mat-form-field>

                    <mat-form-field appearance="outline">
                        <mat-label>Xarakter </mat-label>
                        <mat-select name="xarakter" id="xarakter" formControlName="xarakter" placeholder="Oqituvchi tanlang">
                          <mat-option *ngFor="let o of xarakterlar" [value]="o.id">{{o.nom}}</mat-option>
                        </mat-select>
                        <mat-hint>Xarakter tanlang</mat-hint>
                      </mat-form-field>


                      <mat-form-field appearance="outline">
                        <mat-label>Talabaning O'quv shakli </mat-label>
                        <mat-select formControlName="oquvShakl" placeholder=" ">
                          <mat-option value="SHARTNOMA">Shartnoma asosida</mat-option>
                          <mat-option value="GRAND">Davlat granti asosida</mat-option>
                        </mat-select>
                        <mat-hint>Talaba O'quv shakli</mat-hint>
                      </mat-form-field>
                      <img class="img-account-profil rounded-circle mb-2" [src]="rasmManzil??'https://idrok.net/logo.png'">

                      <input type="file" class="file-input"
                      (change)="onFileSelected($event)" #fileUpload
                      >
                      <button class="btn btn-primary" type="button" (click)="fileUpload.click()">Rasm yuklash</button>
                    
              
                      
        

                    

                    
  
                    <button [disabled]="talabaForm.invalid || surovBajarilmoqda" mat-raised-button color="primary"
                        type="submit">
                        <mat-spinner *ngIf="surovBajarilmoqda" diameter="20" color="warn"></mat-spinner>
                        Saqlash
                    </button>
                    <button mat-raised-button color="accent" type="reset" (click)="tozalash()">
                        Bekor qilish</button>
                </form>
  
  
  
            </mat-expansion-panel>
        </mat-accordion>
        <mat-form-field appearance="outline">
          <mat-label>Filter</mat-label>
          <input (input)="load($event.target)" matInput placeholder="Filter . . ." autocomplete="off">
          <mat-hint>Kalit so'zni kiriting</mat-hint>
        </mat-form-field>
        <div class="royxat"  >
          <h2>Talaba Ro'yxati</h2>
          <table>
              <thead>
                  <tr>
                      <th>ID</th>
                      <th>Ism</th>
                      <th>Familya</th>
                      <th>Sharif </th>
                      <th>Yosh</th>
                      <th>Hudud</th>
                      <th>Ball</th>
                      <th>Loyiha</th>
                      <th>Guruh</th>
                      <th>Xarakter</th>
                      <th>Oquv Shakl</th>
                      <!-- <th>Rasm</th> -->
                      <th>Amal</th> 
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let x of talabalar">
                      <td>{{x?.id}}</td>
                      <td>{{x?.ism}}</td>
                      <td>{{x?.familya}}</td>
                      <td>{{x?.sharif}}</td>
                      <td>{{x?.yosh}}</td>
                      <td>{{x?.hudud}}</td>
                      <td>{{x?.info}}</td>
                      <td>{{x?.loyiha?.nom}}</td>
                      <td>{{x?.guruh?.nom}}</td>
                      <td>{{x?.xarakter?.nom}}</td>
                      <td>
                        <span [ngSwitch]="x?.oquvShakl">
                            <span style="color: #ff0;" *ngSwitchCase="'SHARTNOMA'">
                                Shartnoma asosida
                            </span>
                            <span style="color: #0f0;" *ngSwitchCase="'GRAND'">
                                Davlat granti
                            </span>
                            <span *ngSwitchDefault>
                                -
                            </span>
                        </span>                       
                      </td>
                      <!-- <td>{{x?.info}}</td> -->
                      <td>
                          <button mat-button color="primary" (click)="tahrirlash(x)">
                              <mat-icon diametr=5>edit</mat-icon>
                          </button>
                          <button mat-button color="warn" (click)="ochirish(x)">
                              <mat-icon diametr=5>delete</mat-icon>
                          </button>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  
  
  
  
      <mat-paginator (page)="load()" #paginator  [length]="length" [pageSize]="5" [pageSizeOptions]="[5, 7, 10, 12]" aria-label="Select page">
      </mat-paginator>
  
  </mat-card-content>
  
  </mat-card>
