<div class="kirish-sahifa">
  <div class="kirish-karta">
    <a class="kirish-logo" [routerLink]="['/']">
      <img src="assets/img/logo.jpg" alt="TATU logotipi" width="64" height="64">
    </a>
    <h1>Tizimga kirish</h1>
    <p class="kirish-izoh">TATU Qarshi filiali · Talabalar portali</p>

    <form [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
      <mat-form-field appearance="outline">
        <mat-label>Login</mat-label>
        <mat-icon matPrefix>person</mat-icon>
        <input matInput formControlName="username" autocomplete="username" required>
        <mat-error>Login kiriting</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Parol</mat-label>
        <mat-icon matPrefix>lock</mat-icon>
        <input matInput [type]="parolKorinsin ? 'text' : 'password'" formControlName="password" autocomplete="current-password" required>
        <button mat-icon-button matSuffix type="button" (click)="parolKorinsin = !parolKorinsin" [attr.aria-label]="parolKorinsin ? 'Parolni yashirish' : 'Parolni ko\'rsatish'">
          <mat-icon>{{ parolKorinsin ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error>Parol kiriting</mat-error>
      </mat-form-field>

      <mat-checkbox formControlName="rememberMe" color="primary" class="kirish-eslab">Meni eslab qol</mat-checkbox>

      <button mat-flat-button color="primary" class="kirish-tugma" type="submit" [disabled]="surovBajarilmoqda">
        <mat-spinner *ngIf="surovBajarilmoqda" diameter="18"></mat-spinner>
        <ng-container *ngIf="!surovBajarilmoqda">Kirish</ng-container>
      </button>
    </form>

    <div class="kirish-havolalar">
      <a [routerLink]="['/register']">Ro'yxatdan o'tish</a>
      <span>·</span>
      <a [routerLink]="['/']">Bosh sahifa</a>
    </div>
  </div>
</div>
