mat-form-field {
    width: 100%;
}

mat-spinner {
    display: inline-block;
}

.mat-elevation-z8 {
    width: 100%;
    max-height: 300px;
    overflow: auto;
}

.mat-card {
    display: block;
    width: 100%;
}
