mat-form-field{
    width: 100%;
}
mat-spinner{
    display: inline-block;
}
table {
    width: 100%;
  }

  table{
    border-collapse: collapse;
    width: 100%;
}
th{
    background-color: rgb(126, 143, 143);
}
th, td{
    border: solid 1px gray;
    padding: 4px;
}
th{
  background-color: rgb(125, 150, 150);
}