<mat-toolbar color="primary">

    <mat-toolbar-row>
      <span id="talaba">Talaba.Uz</span>
      <span class="example-spacer"></span>
       
        <a mat-button [routerLink]="['/']">Bosh sahifa</a>
        <a mat-button [routerLink]="['/fakultet']">Fakultet</a>
        <a mat-button [routerLink]="['/loyiha']">Loyihalar</a>
        <a mat-button [routerLink]="['/yutuq']">Yutuqlar</a>
        <a mat-button [routerLink]="['/xarakter']">Xarakterlar</a>
        <a mat-button [routerLink]="['/yunalish']">Yo'nalishlar</a>
        <a mat-button [routerLink]="['/guruh']">Guruhlar</a>
        <a mat-button [routerLink]="['/talaba']">Talabalar</a>
       
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
      
    </mat-toolbar-row>
  </mat-toolbar>
  <router-outlet></router-outlet> 