<mat-toolbar class="topbar">
  <button mat-icon-button (click)="drawer.toggle()" matTooltip="Menyu" aria-label="Menyuni ochish/yopish">
    <mat-icon>menu</mat-icon>
  </button>
  <a class="brand" [routerLink]="['dashboard']">
    <mat-icon class="brand-icon">school</mat-icon>
    <span class="brand-text">Talaba <span class="brand-sub">admin</span></span>
  </a>

  <span class="spacer"></span>

  <div *ngIf="user" class="foydalanuvchi" matTooltip="{{ user.login }}">
    <span class="avatar">{{ boshHarflar }}</span>
    <span class="foydalanuvchi-ism">{{ user.ism }} {{ user.familiya }}</span>
  </div>
  <a mat-icon-button [routerLink]="['/']" matTooltip="Saytga o'tish" aria-label="Saytga o'tish">
    <mat-icon>public</mat-icon>
  </a>
  <button mat-icon-button (click)="chiqish()" matTooltip="Chiqish" aria-label="Tizimdan chiqish">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="shell">
  <mat-sidenav #drawer class="sidenav" [mode]="sidenavMode" [opened]="sidenavOchiq" [fixedInViewport]="false">
    <nav class="menyu">
      <ng-container *ngFor="let bolim of menyu">
        <div class="menyu-sarlavha">{{ bolim.sarlavha }}</div>
        <a *ngFor="let b of bolim.bandlar"
           class="menyu-band"
           routerLinkActive="faol"
           [routerLink]="[b.yol]"
           (click)="mobilYop()">
          <mat-icon class="menyu-ikon">{{ b.ikon }}</mat-icon>
          <span>{{ b.nom }}</span>
        </a>
      </ng-container>
    </nav>
    <div class="sidenav-past">
      <mat-icon>cloud_done</mat-icon>
      <span>talaba-frontend.pages.dev</span>
    </div>
  </mat-sidenav>

  <mat-sidenav-content class="kontent">
    <div class="main">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
