<mat-card>
    <mat-card-header>
        <mat-card-title>Xarakterlar</mat-card-title>
        <mat-card-subtitle>Xarakterlar bilan ishlash bo'limi </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

<mat-accordion displayMode="default" [multi]="true"
               [hideToggle]="false">
    <mat-expansion-panel [hideToggle]="false">
        <mat-expansion-panel-header>Yangi xarakter nomini qo'shish

            <mat-icon class="mat-18">
                add
            </mat-icon>
        </mat-expansion-panel-header>
           
        <form [formGroup]="xarakterForm" (ngSubmit)="saqlash()">
            <mat-form-field *ngIf='tahrirRejim' appearance="outline">
                <mat-label>Id</mat-label>
                <input formControlName='id'  matInput placeholder="Id">
                <mat-hint>Id</mat-hint>
              </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Nom</mat-label>
                <input   formControlName='nom'  matInput placeholder="nom">
                <mat-hint>Nom</mat-hint>
              </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Info</mat-label>
                <input   formControlName='info'  matInput placeholder="Info">
                <mat-hint>Info</mat-hint>
              </mat-form-field>

              <button [disabled]="surovBajarilmoqda"  mat-raised-button color="primary" type='submit'>
                <mat-spinner *ngIf="surovBajarilmoqda " diameter="20" color="accent"></mat-spinner>  
                Saqlash</button>
              <button mat-raised-button color="accent" type='reset'>Bekor qilish</button>

        </form>
        
    </mat-expansion-panel>
</mat-accordion>


<mat-form-field appearance="outline">
  <mat-label>Filter</mat-label>
  <input (input)="load($event.target)" matInput placeholder="Filter . . ." autocomplete="off">
  <mat-hint>Kalit so'zni kiriting</mat-hint>
</mat-form-field>


<div class="royxat"  >
  <h2>Xarakterlar Ro'yxati</h2>
  <table>
      <thead>
          <tr>
              <th>ID</th>
              <th>Nom</th>
              <th>Info</th>
              <th>Amal</th>
              
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let x of xarakterlar">
              <td>{{x?.id}}</td>
              <td>{{x?.nom}}</td>
              <td>{{x?.info}}</td>
              <td>
                  <button mat-button color="primary" (click)="tahrirlash(x)">
                      <mat-icon diametr=5>edit</mat-icon>
                  </button>
                  <button mat-button color="warn" (click)="ochirish(x)">
                      <mat-icon diametr=5>delete</mat-icon>
                  </button>
              </td>
          </tr>
      </tbody>
  </table>
</div>





<mat-paginator (page)="load()" #paginator  [length]="length" [pageSize]="5" [pageSizeOptions]="[5, 7, 10, 12]" aria-label="Select page">
</mat-paginator>

    </mat-card-content>  
</mat-card>