<div class="container d-flex justify-content-center align-items-center">
    <div class="card">
        <div class="row">
            <div class="col-md-6">
                <form class="form" [formGroup]="registerForm" (ngSubmit)="royxatdanOtish()">
                    <h2>Ro'yxatdan o'tish</h2>
                    <div class="row">
                        <div class="col">
                            <div class="inputbox mt-3">
                                <span>Ismingiz</span>
                                <input type="text" placeholder="Ism" formControlName="ism" class="form-control">
                            </div>
                        </div>
                        <div class="col">
                            <div class="inputbox mt-3">
                                <span>Familiyangiz</span>
                                <input type="text" placeholder="Familiya" formControlName="familiya" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="inputbox mt-3">
                                <span>Login</span>
                                <input type="text" placeholder="Login" formControlName="login" class="form-control">
                            </div>
                        </div>
                        <div class="col">
                            <div class="inputbox mt-3">
                                <span>Parol</span>
                                <input type="password" placeholder="Parol" formControlName="parol" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="d-flex justify-content-between align-items-center mt-3">
                        <div class="text-right">
                            <button type="submit" class="btn btn-success register btn-block"
                                [disabled]="surovBajarilmoqda">Ro'yxatdan o'tish</button>
                        </div>
                        <a [routerLink]="['/login']" class="login">Kirish</a>
                    </div>
                    <div class="form-check mt-2">
                        <input class="form-check-input" type="checkbox" id="flexCheckChecked" formControlName="shartlar">
                        <label class="form-check-label" for="flexCheckChecked">
                            Maxfiylik siyosati shartlariga roziman
                        </label>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <div class="text-center mt-5"> <img src="https://i.imgur.com/98GXnDD.png" width="400"> </div>
            </div>
        </div>
    </div>
</div>
